.cuerpo {
    margin: 20px;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    padding: 10px 0 10px 10px;
    border-radius: 4px 0 0 0;
}
a {
    text-decoration: none;
    color: black;

}
.active {
    border-right: solid 2px var(--color1);
    background-color: var(--color5);
    color: var(--color1);
}
.columnas {
    padding: 0;
}   
.principal {
    padding: 10px;
}
