.mainContainer {
max-width: 1080px;
margin: auto;
}

.carousel-item {
    max-height: 500px;
}

.sr-only {
    color: var();
}

.seccion-contenido {
    display: flex;
    justify-content: space-between;
    background-color: var(--colorPrimario);
}

.elemento {
    height: 250px;
    width: 250px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.containerElemento{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 25px 25px;
    margin-top: -50px;
    height: 50px;
    font-weight: 600;
}

.elemento:hover .containerElemento {
    background-color: rgba(0, 0, 0, 1);
}

.containerImagen {
    height: 100%;
    background-size: cover;
    object-fit: cover;
    border-radius: 25px 25px;
}

.containerRSS { /*Secciones circulares de las redes sociales*/
    display: flex;
    justify-content: center;
    height: 250px;
    width: 250px;
    margin: 50px;
    border: 5px solid var(--colorSecundario);
    border-radius: 50%;
    cursor: pointer;
  }

  .containerRSS:hover { /*Hover de dichas secciones*/
    border: 10px solid var(--colorSecundario);
  }
  .img-rss { /*Iconos de las redes sociales*/
    margin: auto;
    width: 150px;
    height: 150px;
  }
